.set{
    text-align: center;
    padding: 200px;
}

h1{
    text-align:center;
    color:darkcyan;
}

.animation {
    box-shadow:  0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

.instructions {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.drum{
    border: 2px solid skyblue;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: crimson;
    border-radius: 20px;
    width: 125px;
    height: 100px;
    background-color: lightyellow;
    text-align:center;
}



@media all and (max-width: 400px) {
    .instructions {
        width: 70%;
    }
}